# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Misc
*.local